<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button type="button" class="btn btn-secondary">Add User</button>

{% block content %}
    {% for user in users %}
         <a class="mr-2" href="#"><br>{{ user.user_first_name }}</a>
    {% endfor %}
{% endblock content %}
</body>
</html>